header {
    background-color: red;
    width: 100%;
    height: 120px;
    text-align: left;
}

.hero {
    background-color: greenyellow;
    width: 100%;
    height: 500px;
    text-align: center;
}

footer {
    background-color: aqua;
    width: 100%;
    height: 100%;
}